@using companyweb.Areas.UI.Controllers
@{
    ViewBag.Title = ViewData[HomeController.REGIONNAME];
    Layout = "~/Areas/UI/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="@Url.Content("~/Content/articlelist.css")" rel="stylesheet" />
}

@section scripts{
    <script src="@Url.Content("~/Areas/UI/js/home/piclist.js")" type="text/javascript"></script>
}

@Html.Hidden("category", ViewData[HomeController.CATEGORYNAME])
<div class="container">
    <div class="sixteen columns page-title">
        <div class="eight columns alpha">
            <h3> <span><strong>@ViewData[HomeController.AREANAME]</strong></span> </h3>
        </div>
        <div class="eight columns omega">
            <nav class="breadcrumbs">
                <ul>
                    <li>您的位置:</li>
                    <li><a href="@Url.Action("Index")">主页</a></li>
                    <li>@ViewData[HomeController.REGIONNAME]</li>
                </ul>
            </nav>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="container">
    <div id="listitemcontainer" class="row port works"></div>
</div>
<div id="listpagercontrainer">
    <div id="listcontentmore">
        <sub>获取更多</sub>
        <sub style="margin-left:15px;">>>></sub>
    </div>
    <div id="listcontentno">
        <sub>没有更多了</sub>
    </div>
</div>